
= content_for :page_title, "notifications"
- notifications_suffix = " - #{params[:filter].demodulize.titleize.pluralize}" if params[:filter_type] == "type"
- notifications_suffix = " - #{params[:filter].titleize}" if params[:filter_type] == "predefined" 


.card.text-white.bg-info
  .card-header
    .card-title 
      %h3 
        Notifications#{notifications_suffix}
        %small
          -%w(current dismissed).each do |filter|
            -next if filter == @filter 
            %small
              =link_to filter.titleize, rules_notifications_path(filter: filter, filter_type: 'predefined')
  .card-body.text-dark.bg-white
    -if @notifications.blank?
      .alert.alert-warning
        You have no #{@filter.titleize} Notifications
    -else
      = paginate @notifications
      %table.table.table-sm.table-bordered
        %thead
          %tr.small
            %th Received At
            %th Message
            %th Regarding
            %th Category
            %th Priority
            %th
        %tbody
          -@notifications.each do |n|
            %tr.notification{class: "seen-#{n.seen?}", data:{id: n.id}}
              %td
                -if n.seen?
                  %i.fa.fa-eye.fa-lg.text-success
                -else
                  %i.fa.fa-eye.fa-lg.text-secondary

                =n.created_at

              %td=n.message
              %td
                -if n.item
                  =link_to item_display_name(n.item), item_path(n.item)
                -elsif n.actionable_url
                  =link_to n.actionable_url, n.actionable_url
              %td=[n.category.presence,n.sub_category.presence].compact.join(":")
              %td=n.priority
              %td
                -if !n.dismissed?
                  =link_to "Dismiss", toggle_dismissed_rules_notification_path(n), class: "btn btn-sm btn-warning", remote: true
              - n.mark_seen

- content_for :rules_javascript do
  :javascript
    setTimeout(function() {
      $(".notification.seen-false").removeClass("seen-false")
    }, 2000);



