<% content_for :page_javascript do %>
    var rule_id = "<%= @rules_rule.id %>";
    $(document).ready(function() {
      // Set the width of the rule actions column content before Bootstrap Affix makes it fixed
      var $rule_actions = $("#rule-actions > div");
      $rule_actions.width($rule_actions.width());

      // Affix the actions column
      rule_actions_top = $rule_actions.offset().top - 20;
      $rule_actions.affix({
        offset: {
          top: function () {
            return rule_actions_top;
          }
        }
      });
    }); 
<% end %>

<% content_for :page_title do %>
  Rules Manager - <%= @rules_rule.name %>
<% end %>

  <%= link_to "Rules Listing", rules_rules_path, class: "btn btn-mini btn-primary" %>

  <% if @rules_rule.deleted %>
    <%= link_to "Undelete Rule", undelete_rules_rule_path(@rules_rule), class: "btn btn-mini btn-warning", "data-confirm"=>"Rule will be undeleted, but will be inactive.  Continue?", method: :get %>
  <% else %>
    <%= link_to "Delete Rule", rules_rule_path(@rules_rule), method: :delete, class: "btn btn-mini btn-danger", "data-confirm"=>"Are you sure you want to delete this Rule?" %>
  <% end %>

  <%= link_to "Reload Rules Engine Configuration", reload_rules_engine_rules_rules_path, class: "btn btn-mini btn-default", "data-confirm" => "This may take a moment - it may also cause threading race conditions until it is done in a smarter fashion, it will reload available Events and ActionHandlers.  That being said... ARE YOU SURE?", method: :get %>


<% if @rules_rule.description %>
  <div style="margin-left:20px;margin-bottom:10px;margin-top:-10px;padding:20px;border:1px dashed gray;width:400px;float:left;">
    "<%= @rules_rule.description %>"
    <% unless @rules_rule.ready? %>
      <span class="badge">NOT READY</span>
    <% end %>
    <% if @rules_rule.synchronous? %>
      <span class="badge">Synchronous</span>
    <% end %>
  </div>
<% end %>
<div id="rules-manager">
  <div class="row">
    <div class="col-md-4">
      <h2><%= "rules.rules.events_triggers".cms {"events (triggers)"} %></h2>
      
      <div class="rules-column-container">
        <input id="event_lookup_autocomplete" type="text" placeholder="add an event..."/>

        <% if @rules_rule.events %>
          <% @rules_rule.events.sort.each do |event_name| %>
            <%= render 'shared/event', event_name: event_name, rule: @rules_rule, show_arrow: true %>
          <% end %>
        <% end %>
        <div class="clear"></div>
      </div>
    </div>

    <div class="rule-column col-md-4">
      <div id="change-color-switch" class="switch switch-small" data-on="success" data-off="danger" data-animated="true">
        <input type="checkbox" <%= "checked" if @rules_rule.active %> onchange="toggleActive(($(this).parent().hasClass('switch-off')));">
      </div>

      <h2>
        <%= "rules.rules.rules_configuration".cms {"rules configuration"} %>
      </h2>

      <%= render 'shared/rule', rule: @rules_rule %>
    </div>

    <div id="rule-actions" class="col-md-4">
      <div>
        <h2><%= "rules.rules.actions".cms {"actions"} %></h2>

        <div class="rules-column-container">
          <input id="action_lookup_autocomplete" type="text" placeholder="add an action..."/>
        </div>

        <div> 
          <% if @rules_rule.actions %>
            <% @rules_rule.actions.each do |a| %>
               <%= render 'shared/action', action: a, show_arrow: true %>
              <div class="clear"></div>
            <% end %>
          <% end %>
        </div>
      </div>  
    </div>
    <% if @rules_rule.deleted %>
      <div class="deleted-rule">
        <span>DELETED</span>
      </div>
    <% end %>

  </div>
</div>


<div id="lookup_modal" class="modal fade" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        Lookup
      </div>

      <div class="modal-body" style="max-height:500px;overflow:auto;">
        Time for a class lookup
      </div>

      <div class="modal-footer">
      </div>
    </div>
  </div>
</div>

<script type="text/javascript">
  <%= content_for :page_javascript do %>
    $(function() {
      console.log("Adding rule-modal click handler");
      $(".rule-modal").click(function(event) {
        event.preventDefault();
        show_lookup_modal($(this).attr("href"));
      })
    });
    function show_lookup_modal(new_url) {
      //http://stackoverflow.com/questions/12286332/twitter-bootstrap-remote-modal-shows-same-content-everytime?rq=1
      console.log("show_lookup_modal('" + new_url + "');");
      //$('#lookup_modal').modal('hide');
      $('#lookup_modal').removeData("bs.modal");
      $('#lookup_modal').modal({remote: new_url});
      $('#lookup_modal').modal('show');
    }
  <% end %>
</script>
